<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>
		<h2>Lista de Animes</h2>
		<a href="/cadastro">Cadastrar anime</a>
		<br />
		<p th:text="${#request.getParameter('msg')}"></p>
		<table>
			<tr>
				<th>ID</th>
				<th>Genero</th>
				<th>Titulo</th>
				<th>Ano</th>
				<th>Epis</th>
				<th>Classificacao</th>
			</tr>
			<tr th:each="anime : ${listaAnimes}">
				<td th:text="${anime.id}">ID</td>
				<td th:text="${anime.genero}">Genero</td>
				<td th:text="${anime.titulo}">Titulo</td>
				<td th:text="${anime.anolancamento}">Ano</td>
				<td th:text="${anime.episodios}">Epis</td>
				<td th:text="${anime.classificacao}">Classificacao</td>
				<td><a th:href="@{'/deletar/' + ${anime.id}}" >Deletar </a></td>
				<td><a th:href="@{'/editar/' + ${anime.id}}" >Editar </a></td>
			</tr>
		</table>
</body>
</html>